.button-large { padding: 0; margin-top: 30px; }
.button-large a { padding: 10px 30px; font-size: 18px; border-radius: 3px; font-weight: 600; background: #07cb79; color: #ffffff; text-transform: uppercase; font-family: 'Raleway', sans-serif;  }
.button-large a:hover { background: #2f3742 ; }
.button-small a { padding: 8px 15px; font-size: 14px; border-radius: 3px; font-weight: 500; background: #07cb79; color: #ffffff; text-transform: uppercase; font-family: 'Raleway', sans-serif;  }
.button-small a:hover { background: #2f3742; }
button.button-small { padding: 8px 15px; display: block; font-size: 14px; width: 100%; margin: 0px; border: 0px; border-radius: 3px; font-weight: 500; background: #464e5a; color: #ffffff; text-transform: uppercase; font-family: 'Raleway', sans-serif;  }
button.button-small:hover { background: #07cb79; }