/*************************
    header
*************************/

.menu-responsive {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: visible;
  display: block;
  z-index: 999;
  background: rgba(28, 28, 28, 0.3);
  padding: 0 50px;
}


/*menu*/

.navbar {
  border-radius: 0px;
}

.navbar-collapse {
  height: auto;
  border-top: 0;
  box-shadow: none;
  max-height: none;
  padding-left: 0;
  padding-right: 0;
}

.navbar-collapse.collapse {
  display: block !important;
  width: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-collapse.in {
  overflow-x: visible;
}

.navbar {
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header {
  float: left;
}

.navbar-right .dropdown-menu {
  left: 0;
  right: auto;
}

.navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.navbar-brand {
  height: inherit;
  padding: 22px 0px;
}

.navbar-brand img {
  height: 60px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.navbar-default {
  background: transparent;
  border: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: 40px 17px;
  border-bottom: 5px solid transparent;
}

.navbar-default .navbar-nav > li:last-child > a {
  padding-right: 0px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a.active,
.navbar-default .navbar-nav>li>a:hover {
  background: transparent;
  color: #07cb79;
  border-bottom: 5px solid #07cb79;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #07cb79;
  border-bottom: 5px solid #07cb79;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background: transparent;
  color: #07cb79;
}

.navbar-default .dropdown-menu {
  left: 0px;
  background: #f4f5f6;
  box-shadow: none;
  border: 0px;
}

.navbar-nav>li>.dropdown-menu {
  border-radius: 0px 0px 3px 3px;
}

.navbar-nav>li>.dropdown-menu li a {
  line-height: 26px;
  font-size: 14px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background: transparent;
  color: #07cb79;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  color: #07cb79;
  background: transparent;
}

.navbar-nav>li>.dropdown-menu li a {
  padding-left: 15px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  border-color: #07cb79;
}

#menu.sticky {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  padding: 0 50px;
  z-index: 9999;
  width: 100%;
  background: #2f3742;
}

#menu.sticky .navbar-nav > li > a {
  padding: 30px 17px;
}

#menu.sticky .navbar-brand > img {
  height: 40px;
}

#menu.sticky .navbar-nav > li:last-child > a {
  padding-right: 0px;
}